
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --primary-color: linear-gradient(135deg, #3574B9 0%, #F7AD7E 50%, #76C26E 100%);
  --bold-color: linear-gradient(135deg, #3574B9 0%, #FF8E8E 50%, #76C26E 100%);
  --secondary-color: linear-gradient(135deg, #183658 0%, #631854 50%, #255B20 100%);
  --cancel-color: linear-gradient(135deg, #000000 0%, #ff0505 100%);
}

* {
  font-family: "Open Sans", sans-serif;
}

/* Header */
.header-container {
  background: var(--secondary-color);
}

.icon-user {
  font-size: 24px;
}

/* Home User */

.btn-unique {
  background: var(--bold-color);
}

.straightline {
  width: 0.5px;
  background: rgba(255, 255, 255, 0.6);
}

.frog-tokens-header {
  padding: 20px;
}

.frog-token-card {
  position: relative;
  width: 100%;
  height: 100%;
}

.frog-token-card img {
  width: 100%;
  height: 100%;
}

.frog-token-button {
  position: absolute;
  top: 90%;
  right: 43%;
  z-index: 2;
}

.gradient-button {
  background: var(--primary-color);
  border: none;
}

.focus-content {
  font-weight: lighter;
}

.user_icon {
  height: 100%;
  aspect-ratio: 1 / 1;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center
}

.menu_drop_down::after {
  display: none !important;
  /* Hide the down arrow */
}

/* Store */
.breadcrumb-item a,
.breadcrumb-item+.breadcrumb-item::before {
  color: white !important;
  text-decoration: none;
}


.btn-combo {
  position: absolute;
  width: 15%;
  top: 85%;
  right: 7%;
  z-index: 2;
}

/* Pagination Component*/
.pagination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-pagination .page-link {
  background-color: rgba(0, 0, 0, 0.1);
  /* Adjust this for the background color */
  color: #ffffff85;
  /* Text color */
  border: none;
  /* Remove border */
  border-radius: 50%;
  /* Circular pagination items */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  /* Space between items */
}

.custom-pagination .page-item.active .page-link {
  background-color: #fff;
  /* Active background color */
  color: #000;
  /* Active text color */
  font-weight: bold;
}

.custom-pagination .page-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
  /* Hover background color */
}

.custom-pagination .page-link:first-child,
.custom-pagination .page-link:last-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.custom-pagination {
  justify-content: center;
  /* Center the pagination */
}

/* Token Collection */
.btn_item {
  background: rgba(0, 0, 0, 0) !important;
  border: rgba(0, 0, 0, 0) !important;
}

.btn_item:hover {
  background: rgba(0, 0, 0, 0.1) !important;
}

input.form-check-input {
  border: 1px black solid;
}

.summary-card {
  top: 10vh;
}

.discount-tag {
  font-size: small;
  padding: 2px;
  background: var(--primary-color);
  color: white;

}

.trash-icon-border {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  border: 2px solid;
  background: rgba(0, 0, 0, 0);
  border-image: var(--cancel-color) 10;
}

.trash-icon-border:hover {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  background: var(--cancel-color);
  color: white;
}

.trash-icon-color {
  background: var(--cancel-color);
  background-clip: text;
  color: transparent;
}

.icon-trans {
  /* height: 29px;
  width: 60px; */
  box-sizing: border-box;
  margin: 0px;
}

#cartItemQuantity {
  border: 2px solid;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  border-image: var(--bold-color) 10;
}

.btn-offcanvas {
  background: #26AA99 !important;
  height: 154px;
  width: 130px;
  box-sizing: content-box;
}

.btn-content-offcanvas {
  padding: 0px;
  width: 230px;
}


.best-seller {
  font-size: xx-small;
  background: var(--bold-color);
}

/* Detail Product */
.btn-outline-unique {
  border: 2px solid;
  padding: 10px;
  background: rgba(0, 0, 0, 0);
  border-image: var(--primary-color) 10;
}

.btn-outline-unique:hover {
  border: 2px solid;
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-image: var(--bold-color) 10;
}

.text-unique {
  background: var(--primary-color);
  background-clip: text;
  color: transparent;
}

.text-unique:hover {
  background: var(--bold-color);
  background-clip: text;
  color: transparent;
}

.btn-outline-purple {
  border: 2px solid #DFD0FF;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  color: #DFD0FF;
}

.btn-outline-purple:hover {
  border: 2px solid #9d72fc;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: #e8dffb;
}

.text-turquoise {
  color: #61dafb
}

.btn-outline-turquoise {
  border: 2px solid #61dafb;
  padding: 10px;
  background: rgba(255, 255, 255, 0);
  color: #61dafb;
}

.btn-outline-turquoise:hover {
  border: 2px solid #24caf8;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: #9be4f8;
}

.quantity-input {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}

.quantity-btn {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  color: #000000;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  outline: none;
}
.quantity-btn:hover {
  background-color: #dedede;
}

input[type="text"] {
  width: 50px;
  height: 40px;
  text-align: center;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  outline: none;
}

.form_group{
  border: 1px black solid;
}

.form_label{
  opacity: 0.4;
  font-size: small;
}

.form_control{
background: white;
}

.dropdown-toggle::after {
color: black !important;
font-size: larger;
}